{% extends 'base.html' %}

{% block contenido %}
<br>
  <div class="large-8 columns">
    <div class="row" data-equalizer>

      <nav id="menu_estanteria">
        <ul>
          <li><strong>Descubre:</strong></li>
          <li>|</li>
          <li> <a href="/titulos">Títulos </a>  </li>
          <li>|</li>
          <li><a style="color:red;"  href="/autores">Autores</a> </li>
          <li>|</li>
          <li><a href="">Temas</a> </li> 
          <li>|</li>
          <li><a href="">Facultades</a></li>
          <li>|</li>
        </ul>
      </nav>

      <div  class=" opciones columns"><h3> Todos los Autores</h3> 

     
        <div id="opciones-vista">
          <strong>Vista:</strong>  <a href="#listado" onclick="return show('lista','galeria');">Listado</a> | <a href="" onclick="return show('galeria','lista');">Galería</a>
        </div>
        
      </div>
          
  <div class="columns" id="users">
    <input class="search" placeholder="Buscar en la tabla" />
    <button class="sort" data-sort="nombre">
    Ordenar por nombre
    </button>
    <table>
    <thead>
    <tr>
      <th width="200">Nombre</th>
      <th  width="200"  >Nacionalidad</th>
    </tr>
    </thead>
    <!-- IMPORTANT, class="list" have to be at tbody -->
    <tbody class="list">
      {% for autor in autores %}
      <tr>
        <td class="nombre">{{autor.nombre}} </td>
        <td class="nacionalidad">{{autor.get_nacionalidad_display}}</td>
              </tr>
             {% endfor %}
          </tbody>
          </table>
  </div>
</div>

{% endblock %}