<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Biblioteca </title>
    <link rel="stylesheet" href="{{STATIC_URL}}css/foundation.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/biblioteca.css">
    <script src="{{STATIC_URL}}js/vendor/modernizr.js"></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
      ga('create', 'UA-56163744-1', 'auto');
    ga('send', 'pageview');

  </script>
  </head>

  <body style="background-color:;">
     
 
   <div class="row">

    <div class="large-12 columns">

       <div class="row">

        <div class="large-12 columns">

          <nav class="top-bar" data-topbar>
            <ul class="title-area">
               
              <li class="name">
                <h1>
                  <a href="/">
                    Biblioteca v0.1
                  </a>
                </h1>
              </li>
              <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
            </ul>
         
            <section class="top-bar-section">

              <ul class="left">

                <li class="has-form"> 
                  <div class="row collapse"> 
                    <div class="large-8 small-9 columns">
                     <input type="text" placeholder="Título o autor "> 
                   </div> <div class="large-4 small-3 columns"> 
                   <a href="/titulos" style="background-color:#009cde"class="alert button expand">Buscar</a> 
                 </div> 
               </div> 
             </li>

              </ul>
               
              <ul class="right">
                <li class="divider"></li>
                <li class="has-dropdown">
                  <a href="#">Consultas</a>
                  <ul class="dropdown">
                    <li><label>Consultas</label></li>
                    <li class="has-dropdown">
                      <a href="#" class="">Filtrar</a>
                      <ul class="dropdown">
                        <li><a href="#">Disponible fisico</a></li>
                        <li><a href="#">Disponible digital</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Autores</a></li>
                    <li><a href="#">Areas</a></li>
                    <li class="divider"></li>
                    <li><label> Por facultades </label></li>
                    <li><a href="#">Derecho</a></li>
                    <li><a href="#">Ingenieria de Sistemas</a></li>
                    <li><a href="#">Psicologia</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Ver todos →</a></li>
                  </ul>
                </li>
                <li class="divider"></li>
                <li><a href="/libros/nuevo/">Agregar libro</a></li>

                <li class="divider"></li>
                <li class="has-dropdown">
                  <a style="background-color:#7BAC0F" href="/admin/">Ingresar</a>
                  <!-- <ul class="dropdown">
                    <li><a href="#">Prestamos</a></li>
                    <li><a href="#">Descargas</a></li>
                    <li><a href="#">Perfil</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Salir</a></li>
                  </ul>-->
                </li>
              </ul>
            </section>
          </nav>
          
        </div>
      </div>

       <div class="row">

              <div class="large-4 small-12 columns">
 
          <img src="{{STATIC_URL}}img/logo.png">
 
          <div  class=" panel">
            <h4>Sobre el proyecto</h4>
            <p class="subheader"> Proyecto final para el curso de base de datos, le proyecto es completamente <strong>Open Source</strong> , la idea se puede proyectar para impletarlo en la universidad ya que esta  no cuenta con un sistema de catalogo y prestamo eficiente para los recursos de la biblioteca.
            </p>
            
            <p>Si se animan a contribuir pueden leer la documentación para que entiendan la estructura del proyecto (como funcionan los modelos, la base de datos diseño y conexión, las vistas, etc..), el repositorio esta disponible en Github. </p>
              <a style="background-color:#7BAC0F" href="https://github.com/uzi200/biblioteca-django" class="button tiny">Repositorio</a>
              <a href="http://biblioteca.uzi200.me/docs"class="button tiny">Documentación</a>
          </div>
 
          <a href="https://github.com/uzi200/biblioteca-django"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/121cd7cbdc3e4855075ea8b558508b91ac463ac2/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png"></a> 
          <div class="panel callout radius">
            <h4> Sobre el autor</h4>
              <strong> Julio César Castellanos </strong> <br>
              +57 301 508 86 87 <br>
              Mail - <a href="mailto:julioc@protonmail.ch"> julioc@protonmail.ch</a><br>

              WWW - <a href="http://blog.uzi200.me/about">blog.uzi200.me/about</a><br>

              Twitter - <a href="http://twitter.com/@UZI200">@UZI200</a> <br>

              Github - <a href="http://github.com/uzi200"> UZI200</a>

              <br><br>
            <h5>Otros proyectos</h5>

              <a href="http://omnipresent.uzi200.me">omnipresent.uzi200.me</a><br>
              <a href="http://chasser.co">chasser.co</a><br>

          </div>
        
        </div>


    {% block contenido %} {% endblock%}
     
 
 
      <footer class="row">
        <div class="large-12 columns"><hr/>
          <div class="row">
 
            <div class="large-5 columns">
              <p>Julio César 2014</p>
            </div>
 
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="http://biblioteca.uzi200.me/docs">Documentación</a></li>
              	<li><a href="http://blog.uzi200.me/about">Sobre</a></li>

              </ul>
            </div>
 
          </div>
        </div>
      </footer>
    </div>
  </div>
    
    <script src="{{STATIC_URL}}js/vendor/jquery.js"></script>
    <script src="{{STATIC_URL}}js/foundation.min.js"></script>
    <script src="{{STATIC_URL}}js/list.js"></script>
    <script src="{{STATIC_URL}}js/biblioteca.js"> </script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
