{% extends 'base.html'%}

{% block contenido %}
<br>
  <div class="large-8 columns">
    <div class="row">
      <h3>Últimos libros</h3>
      {% for libro in libros %}
          <div class="large-4 small-6 columns">
            <img src="{{MEDIA_URL}}/{{libro.cover_url}}">
            <div class="panel">
              <h5> <strong>{{libro.titulo}} </strong></h5>
              <h6 class="subheader"><em>  {{libro.autor}}</em> </h6>
              <a href="#"># {{libro.area}}</a>
            </div>
          </div>
      {% empty %}
        <p> <em>Aún no hay libros registrados </em> <a href="/libros/nuevo">Registra uno!</a></p>
      {% endfor %}
    </div>
  </div>
{% endblock %}