{% extends 'base.html'%}

{% block contenido %}
<br>
  <div class="large-8 columns">
    <div class="row" data-equalizer>

      <div class="panel">
            <h3> <strong>Estantería</strong> </h3>
            <p> ¿Buscando libros?  Descubre nuestra estantería, puedes comprar, descargar, prestar o compartir tus libros favoritos. Registrate, crea tu colección y participa en <a href=""> nuestra comunidad</a>.  </p>
            <a style="background-color:#F25E5C;" class="button small" href="">Registrarme</a>
      </div>

      <nav id="menu_estanteria">
        <ul>
          <li><strong>Descubre:</strong></li>
          <li>|</li>
          <li > <a href="titulos/">Títulos </a>  </li>
          <li>|</li>
          <li><a href="">Autores</a> </li>
          <li>|</li>
          <li><a href="">Temas</a> </li> 
          <li>|</li>
          <li><a href="">Facultades</a></li>
          <li>|</li>
        </ul>
      </nav>

      <div  class=" opciones columns"><h3> Últimos libros</h3> 

        <div id="opciones-vista">
          <strong>Vista:</strong>  <a href="#listado" onclick="return show('lista','galeria');">Listado</a> | <a href="" onclick="return show('galeria','lista');">Galería</a>
        </div>
        

    
      </div>
   
      <div id="galeria">
        {% for libro in libros %}
          <div class="large-4 small-6 columns" data-equalizer-watch>
            <a href="libro/{{libro.id}}"><img src="{{MEDIA_URL}}{{libro.cover_url}}"></a>
        </div>
         {% endfor %}
      </div>

<div id="lista" style="display:none">

  <div class="columns" id="users">
    <input class="search" placeholder="Buscar en la tabla" />
    <button class="sort" data-sort="titulo">
    Ordenar por titulo
    </button>
    <table>
    <thead>
    <tr>
      <th width="200">Titulo</th>
      <th  width="200"  >Autor</th>
      <th width="150">Editorial</th>
      <th> Fecha de publicación</th>
    </tr>
    </thead>
    <!-- IMPORTANT, class="list" have to be at tbody -->
    <tbody class="list">
      {% for libro in libros %}
      <tr>
        <td class="titulo"> <a href="/libro/{{libro.id}}">{{libro.titulo}}</a> </td>
        <td class="autor">{{libro.autor}}</td>
        <td class="editorial" >{{libro.editorial}}</td>
        <td class="fecha">{{libro.fecha_publicacion}}</td>

  
             {% endfor %}
          </tbody>
          </table>
        </div>
      </div>      
    </div>
  </div>
{% endblock %}