{% extends 'base.html' %}

{% block contenido %}
<br>
  <div class="large-8 columns">
    <div class="row" data-equalizer>

      <nav id="menu_estanteria">
        <ul>
          <li><strong>Descubre:</strong></li>
          <li>|</li>
          <li> <a style="color:red;" href="titulos/">Títulos </a>  </li>
          <li>|</li>
          <li><a href="">Autores</a> </li>
          <li>|</li>
          <li><a href="">Temas</a> </li> 
          <li>|</li>
          <li><a href="">Facultades</a></li>
          <li>|</li>
        </ul>
      </nav>

      <div  class=" opciones columns"><h3> Todos los Títulos</h3> 

        <div id="opciones-vista">
          <strong>Ver:</strong>  <a href="">Listado</a> | <a href="">Galería</a>
        </div>
        

        <div id="opciones-orden">
          <strong>Ordenar por:</strong>  <a href="">Título</a> | <a href="">Fecha</a>
        </div>
    
      </div>
          
      <div class=" columns">

<table>
  <thead>
    <tr>
      <th width="200">Titulo</th>
      <th  width="200"  >Autor</th>
      <th width="150">Editorial</th>
      <th> Fecha de publicación</th>
    </tr>
  </thead>
  <tbody>
	{% for libro in libros %}
    <tr>
      <td>  <a href="/libro/{{libro.id}}">{{libro.titulo}}</a> </td>
      <td>{{libro.autor}}</td>
      <td>{{libro.editorial}}</td>
      <td>{{libro.fecha_publicacion}}</td>
    </tr>
	{% empty %}
        <p> <em>Aún no hay libros registrados </em> <a href="/libros/nuevo">Registra uno!</a></p>
    {% endfor %}
  </tbody>
</table>

          
      
	</div>
</div>

{% endblock %}