{% extends 'base.html' %}

{% block contenido %}
<br>
	  <div class=" large-8 columns">
      <h3>Agregar un nuevo libro</h3>
      <div class=" panel large-10 small-11 columns">
        <form  enctype='multipart/form-data' action='' method='POST'>
            <div class="row">
                <p style="text-align:center; color:gray;"> <em> Datos generales</em></p>
                <div class="  large-12 columns">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <label> Titulo:
                            {{ form.titulo }}
                            </label>
                            {% if form.titulo.errors %}
                     
                              {% for error in form.titulo.errors %}
                              <small class="error">
                                  {{ error|escape }}
                              </small>
                              {% endfor %}
                          {% endif %}
                          
                </div>
            </div>
            <br>

            <div class="row">
                  <div class="large-4 columns">
                            <label > Autor: 
                             {{ form.autor }}
                            </label>
                            {% if form.autor.errors %}
                     
                              {% for error in form.autor.errors %}
                              <small class="error">
                                  {{ error|escape }}
                              </small>
                              {% endfor %}
                          {% endif %}
                  </div>

                  <div class="large-4 columns">
                            <label > Area: 
                             {{ form.area }}
                            </label>
                            {% if form.area.errors %}
                     
                              {% for error in form.area.errors %}
                              <small class="error">
                                  {{ error|escape }}
                              </small>
                              {% endfor %}
                          {% endif %}
                  </div>

                  <div class="large-4 columns">
                            <label > Editorial: 
                             {{ form.editorial }}
                            </label>
                            {% if form.editorial.errors %}
                     
                              {% for error in form.editorial.errors %}
                              <small class="error">
                                  {{ error|escape }}
                              </small>
                              {% endfor %}
                          {% endif %}
                  </div>  
            </div>

            <div class="row">

              <div class="large-4 columns">
                            <label > Facultad: 
                             {{ form.facultad }}
                            </label>
                            {% if form.facultad.errors %}
                     
                              {% for error in form.facultad.errors %}
                              <small class="error">
                                  {{ error|escape }}
                              </small>
                              {% endfor %}
                          {% endif %}
              </div>

              
            </div>

            <div class="row">

              <p style="text-align:center; color:gray;"> <em> Recursos</em></p>

              <div class="large-4 columns">
                            <label > Imagen de portada: 
                             {{ form.cover_url }}
                            </label>
                            {% if form.cover_url.errors %}
                     
                              {% for error in form.cover_url.errors %}
                              <small class="error">
                                  {{ error|escape }}
                              </small>
                              {% endfor %}
                          {% endif %}
              </div>
              <div class="large-4 columns">
                            <label > ¿Esta disponible en fisico?: 
                             {{ form.disponible_fisico }}
                            </label>
                            {% if form.disponible_fisico.errors %}
                     
                              {% for error in form.disponible_fisico.errors %}
                              <small class="error">
                                  {{ error|escape }}
                              </small>
                              {% endfor %}
                          {% endif %}
              </div>

              <div class="large-4 columns">
                            <label > Archivo Digital: 
                             {{ form.digital_url }}
                            </label>
                            {% if form.digital_url.errors %}
                     
                              {% for error in form.digital_url.errors %}
                              <small class="error">
                                  {{ error|escape }}
                              </small>
                              {% endfor %}
                          {% endif %}
              </div>




            </div>

              <br>
          <input style="background-color:#7bac0f" class="button tiny " type='submit' value='Registrar libro'/>

        
        </form>

        <p> ¿ No encuentras el autor ? <a href="{% url 'autores_nuevo' %}"> Registralo áca</a>  </p>
    
        </div>
      </div>








{% endblock %}
